In [1]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model as lm

data = pd.read_csv('salary.csv', index_col = 0)

data.dropna

data.head(n=3)

,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1.1,...,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1.17,1,0,1,1,3,0
1,1,1,1,1,1,1,1,1,1,1,...,1,0,0,1.24,1,0,1,1,2,0
2,2,2,2,2,2,2,2,2,2,2,...,0,0,0,1.21,1,0,1,1,3,2

In [2]:
import pandas as pd

data = pd.read_csv('salary.csv', index_col = 0)

salary = data['salary']

experience = data['yearsworked']

list_of_tuples = list(zip(salary, experience))

data2 = pd.DataFrame(list_of_tuples, columns = ['salary', 'yearsworked'])

data2.head(n=1)

    salary  yearsworked
0  53000.0            0

In [9]:
 
# print a summary of the fitted model
lm.summary()

AttributeError: module 'sklearn.linear_model' has no attribute 'summary'

In [1]:
# Split the data into training/testing sets
import pandas as pd
from random import seed
from random import random as rand
from sklearn.model_selection import train_test_split


#df1['RAND'] = [ random.randint(1,10000000)  for k in df1.index]
#print df1

data = pd.read_csv('salary.csv', index_col = 0)

salary = data['salary']

experience = data['yearsworked']

list_of_tuples = list(zip(salary, experience))

data2 = pd.DataFrame(list_of_tuples, columns = ['salary', 'yearsworked'])
                    
                     
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
data2 = pd.DataFrame(list_of_tuples, columns = ['salary', 'yearsworked'])

y=data2.salary
x=data.drop('salary',axis=1)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head(n=2)

#yearsworked = yearsworked[rand]
#yearsworked= yearsworked[rand]

# Split the targets into training/testing sets
#salary = salary[rand]
#salary = salary[rand]

# Create linear regression object
#regr = linear_model.LinearRegression()

# Train the model using the training sets
#regr.fit(yearsworked, salary)

# Make predictions using the testing set
#salary_y_pred = regr.predict(yearsworked)

# Plot outputs
#plt.scatter(yearsworked, salary,  color='black')
#plt.plot(yearsworked, salary_y_pred, color='blue', linewidth=3)

#plt.xticks(())
#plt.yticks(())

#plt.show()

,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1.1,...,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
475,475,475,475,475,475,475,475,475,475,475,...,15,1,1,0.91,1,0,3,0,1,42
308,308,308,308,308,308,308,308,308,308,308,...,0,27,0,0.91,1,0,3,1,4,1

In [ ]:
# create a fitted model in one line
lm = smf.ols(formula='salary ~ yearsworked', data=data).fit()

# print the coefficients
lm.params

In [ ]:
Intercept = 40115.013788
yearsworked = 837.33179
predictor = Intercept + yearsworked

print(predictor)

In [7]:

import pandas as pd
X_new = pd.DataFrame({'yearsworked': [50]})

In [8]:
lm.predict(X_new)

AttributeError: module 'sklearn.linear_model' has no attribute 'predict'

In [ ]:
X_new = pd.DataFrame({'yearsworked': [data.yearsworked.min(), data2.yearsworked.max()]})

In [ ]:
preds = lm.predict(X_new)
preds

In [6]:

# first, plot the observed data
%matplotlib inline
data = pd.read_csv('salary.csv', index_col = 0)

salary = data['salary']

experience = data['yearsworked']

list_of_tuples = list(zip(salary, experience))

data2 = pd.DataFrame(list_of_tuples, columns = ['salary', 'yearsworked']


data2.plot(kind='scatter', x='yearsworked', y='salary')


# then, plot the least squares line
plt.plot(new_W, preds, c='red', linewidth=2)

SyntaxError: invalid syntax (<ipython-input-6-d25aa24ee3ad>, line 14)

In [ ]:
import statsmodels.api as sm
from scipy import stats
import pandas as pd
data = pd.read_csv('salary.csv', index_col = 0)

salary = data['salary']

yearsworked = data['yearsworked']

list_of_tuples = list(zip(salary, yearsworked, ))

data2 = pd.DataFrame(list_of_tuples, columns = ['salary', 'yearsworked'])

#variance yearsworked
varience = data2['yearsworked'].var()
print('Varience:' ,varience)

In [ ]:
data2.corr()

In [ ]:
import scipy.stats as stats

#(R2)
RSquared = 0.389 #training set
R2=0.623589


#(p)
rvs = stats.norm.rvs(yearsworked)
#rvs2 = stats.norm.rvs(yearsworked)
print(stats.ttest_1samp(rvs,0.5))

In [ ]:
#Standard Error
data2 = pd.DataFrame(list_of_tuples, columns = ['salary', 'yearsworked'])

data2['yearsworked'].mean()

Stadard error = 46.436

PreStandard prev: 560
    
#The standard error of years worked is quite small, this indicates the less spread the data is 
#around the mean.

In [ ]:
#unstandardized coefficient
b1_coeff = 0.623589

#The unstandardized coeff ideally describes the posivite relatiionship
#of the correlation, id displays a propotional relation as observed in the slope.

In [ ]:

#y_dependentvar = yearsworked
#My attempt at manually calculating the R2 value for ploting
x_indie = salary
b0_intercept = 40115.013788
b1_coeff = 0.623589
e_error = 46.436

y = b0_intercept + (b1_coeff*x_indie) + e_error

In [ ]:
Intercept = 40115.013788
yearsworked = 837.331790

result = Intercept + yearsworked * 50
print(result)

In [ ]:
# use the model to make predictions on a new value
import statsmodels.formula.api as smf
import pandas as pd
year12 = pd.DataFrame({'yearsworked': [12]})

prediction= lm.predict(year12)

In [ ]:

# make predictions for those x values and store them
preds = lm.predict(year12)
preds

In [ ]:
year80 = pd.DataFrame({'yearsworked': [80]})

In [ ]:
X_new2 = pd.DataFrame({'yearsworked': [80]})

preds = lm.predict(year80)

preds

The major difference between 12 years and 80 years experience is that the
the salary seems to double.

In [ ]:
# print the confidence intervals for the model coefficients
lm.conf_int()

In [ ]:
# print the R-squared value for the model
lm.rsquared

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

data = pd.read_csv('salary.csv', index_col = 0)

exprior = data['exprior']
yearsworked = data['yearsworked']
yearsrank = data['yearsrank']

# visualize the relationship between the features and the response using scatterplots
fig, axs = plt.subplots(1, 3, sharey=True)
data.plot(kind='scatter', x='exprior', y='salary', ax=axs[0], figsize=(16, 8))
data.plot(kind='scatter', x='yearsworked', y='salary', ax=axs[1])
data.plot(kind='scatter', x='yearsrank', y='salary', ax=axs[2])

In [ ]:
#We could also look at yearsrank to better improve our model.